/*
* The Important Part 
*/

.transition {
  position: relative;
}

.exit {
  position: absolute;
  /* top, right, bottom, left shorthand */
  inset: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 2s ease;
}

/* 
* Just for decoration
*/

.screen0,
.screen1,
.screen2 {
  height: 200px;
  color: white;

  margin-inline: 10px;

  /* center text inside */
  display: grid;
  place-items: center;
}

.screen0 {
  background-color: hotpink;
}
.screen1 {
  background-color: mediumslateblue;
}
.screen2 {
  background-color: seagreen;
}

button {
  display: block;
  margin: 10px auto;
  padding-inline: 8px;
}

h1 {
  text-align: center;
}
